.column{
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
}

.first{
    margin-top: 70px;
    height: 150px;
    background: linear-gradient(#58FA82 10%, #F4FA58 50%, #FA5858 90%);
}

.second{
    margin-top: 20px;
    height: 200px;
    background: linear-gradient(#58FA82 30%, #F4FA58 60%, #FA5858 80%);
}

.third{
    margin-top: 40px;
    height:180px;
    background: linear-gradient(#58FA82 20%, #F4FA58 60%, #FA5858 80%);
}

.fourth{
    margin-top: 30px;
    height: 190px;
    background: linear-gradient(#58FA82 10%, #F4FA58 80%, #FA5858 90%);
}

.fifth{
    margin-top: 90px;
    height: 130px;
    background: linear-gradient(#58FA82 20%, #F4FA58 60%, #FA5858 80%);
}


.sixth{
    height: 220px;
    background: linear-gradient(#58FA82 20%, #F4FA58 60%, #FA5858 80%);

}

.seventh{
    margin-top: 130px;
    height: 90px;
    background: linear-gradient(#58FA82 20%, #F4FA58 60%, #FA5858 80%);

}


.coll{
    margin-left: 15px;
    margin-right: 15px;
}

.txt{
    margin-left: 25px;
    margin-right: 15px;
    margin-bottom: 50px;
}

.yellow{
    height: 10px;
    background-color: #F4FA58;
}

.green{
    height: 10px;
    background-color: #58FA82;
}

.red{
    height: 10px;
    background-color: #FA5858;
}

.noir{
    height: 10px;
    background-color: black;
}

.un{
    margin-top: 100px;
    height: 120px;
    background: linear-gradient(#58FA82 30%, #F4FA58 42%, black 43%, #F4FA58 44%, #FA5858 85%);
}

.deux{
    margin-top: 70px;
    height: 150px;
    background: linear-gradient(#58FA82 30%, #F4FA58 42%, black 43%, #F4FA58 44%, #FA5858 85%);
}

.trois{
    margin-top: 90px;
    height: 130px;
    background: linear-gradient(#58FA82 10%, #F4FA58 31%, black 32%, #F4FA58 33%, #F4FA58 50%, #FA5858 90%);
}

.quatre{
    margin-top: 120px;
    height: 100px;
    background: linear-gradient(#58FA82 40%, black 41%,#58FA82 42%,  #F4FA58 64%, #FA5858 95%);
}
