.column{
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
}

.first{
    margin-top: 70px;
    height: 150px;
    background: linear-gradient(#58FA82 10%, #F4FA58 50%, #FA5858 90%);
}

.second{
    margin-top: 20px;
    height: 200px;
    background: linear-gradient(#58FA82 30%, #F4FA58 60%, #FA5858 80%);
}

.third{
    margin-top: 40px;
    height:180px;
    background: linear-gradient(#58FA82 20%, #F4FA58 60%, #FA5858 80%);
}

.fourth{
    margin-top: 30px;
    height: 190px;
    background: linear-gradient(#58FA82 10%, #F4FA58 80%, #FA5858 90%);
}

.fifth{
    margin-top: 90px;
    height: 130px;
    background: linear-gradient(#58FA82 20%, #F4FA58 60%, #FA5858 80%);
}


.sixth{
    height: 220px;
    background: linear-gradient(#58FA82 20%, #F4FA58 60%, #FA5858 80%);

}

.seventh{
    margin-top: 130px;
    height: 90px;
    background: linear-gradient(#58FA82 20%, #F4FA58 60%, #FA5858 80%);

}


.coll{
    margin-left: 15px;
    margin-right: 15px;
}

.txt{
    margin-left: 25px;
    margin-right: 15px;
    margin-bottom: 50px;
}
